
body{
    background-color: #f7f9fc;
margin:0;
}

h4,p{
    margin-bottom:0.5rem;
    font-size:0.9rem;
}
.background {
    background: #f7f9fc;
    padding:30px;
    align-content: center;
    vertical-align: middle;

}

.container {
    padding: 10px;
}


.imgWrap {
    display:flex;
    margin-left:0;
    justify-content: flex-end;
}

.imgWrap img{

    border: 1px white;
    height:auto;
    width:100%;
    margin:auto;
    padding-left:5px;
    box-sizing: content-box;

}

.Blue-Btn {
    height:30px;
    width: 150px;
    color: white;
    background-color: #6fbaf8;
    border: 2px solid #6fbaf8;
    border-radius: 5px;
}

.info {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:10px;
    text-align: left;
    font-size:0.8rem;
}

.info p{

    margin:0.2rem;
}
