
.alert-box {
  background-color: skyblue;
  height:10px;
  width:200px;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;

}

.redBox {
    background-color:red;
    height:50px;
    width:100px;
    margin:30px;
/*    padding: 20px;*/
    color: white;
    font-size:20px;
}

.alert-box2 {
 background-color: skyblue;
  height:150px;
  width:200px;
  padding: 20px;
  color: white;
  border-radius: 5px;


}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  visibility: hidden;
}

.show{
    visibility: visible;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}
