
body{
    background-color: #f7f9fc;
margin:0;
}

h4,p{
    margin-bottom:0.5rem;
    font-size:0.9rem;
}
.background {
    background: #f7f9fc;
    padding:30px;
    align-content: center;
    vertical-align: middle;

}

.coBlue{
    color:#6fbaf8;
}

.backBlue{

    background:#6fbaf8;
}

.container {
    padding: 10px;
}


.imgWrap {
    display:flex;
    margin-left:0;
    justify-content: flex-end;
}

.imgWrap img{

    border: 1px white;
    height:auto;
    width:100%;
    margin:auto;
    padding:15px;
    padding-left:30px;
    box-sizing: border-box;
}

.Blue-Btn {
    height:30px;
    width: 120px;
    color: white;
    background-color: #6fbaf8;
    border: 2px solid #6fbaf8;
    border-radius: 5px;
}

.info {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:10px;
    padding-left:15px;
    text-align: left;
    font-size:0.8rem;
}

.info p{

    margin:0.2rem;
}

.card {
    border: white;
}









.border-bottom {
    border-color: #6fbaf8;
}



.border-info {
    border-color:#6fbaf8 !important;
}

/*
.sub-container{
    margin:3px;
    padding:15px;
}
*/


*/



.white-box {
    background-color:white;
    border:white solid 1px;
    border-radius:3px;

}



.badge {

    font-size:15px;
    border: grey 1px solid !important;
    margin:5px;
    color: black;
    background-color:white !important;
}
