.intro {
    background: linear-gradient(to bottom, #499add, #4e61c0);
    margin:0;
}

div {
    margin: 0;
}

.intro-detail {
    height: 300px;
    width: 100%;
    display: flex;
    padding: 40px 10px 0 20px;
    color: white;
    justify-content: space-around;
}

.btn-bl {
    color: white;
    height: 30px;
    width: auto;
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    text-align: center;
    margin-top: 10px;
}

body {
    margin: 0px;
    padding:0px;
    font-family: 'gulim', 'dotum', 'arial';
}


p,
h3,
h4 {
    margin: 0.3rem;
    font-size-adjust: auto;
}

.phone {
    /*
    padding-right: 20px;
    width:auto;
    height:100%;
    margin: auto;
*/
}

.img {
    overflow: hidden;
    height: 100%;
    width: auto;
    margin-bottom: 0;
}



.intro-detail-word {
    /*    float:left;*/
}

.profile-bg {
    background-color: white;
    margin: 10px;
}

.profile {
    color: black;
    text-align: center;
}

.offers-bg {
    background: #4e61c0;
    height: auto;
    padding: 20px;
    color: white;
}

.offers {
    text-align: center;
    margin-bottom:10px;
}

.icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    /*    margin:3px;*/
}

.i-image {
    /*    margin-bottom: 5px;*/
}

.i-image i {

    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    /*    align-content: center;*/
    color: #4e61c0;
    padding-top: 15px;
    box-sizing: border-box;
}

.we-do {
    box-sizing: border-box;
    width:100%;
    background: white;
    text-align: center;
    display:inline-block;
    /*    vertical-align: center;*/
    height: auto;
    padding: 10px;
}
.we-do-img {
    width:50%;
    float:left;
    height:auto;
    margin: 0;
    position:relative;
}
.we-do-img img {
    display:flex;
/*    position:relative;*/
    width:100%;
    height: inherit;
    margin: 0;
    z-index:0;
}

.we-do-img-text {
    color:white;
    box-sizing:content-box;
    text-align: left;
    position:absolute;
    top:15%;
    left:10%;
}

.we-do-img-text p{
    margin:0px;
    padding:0px;
}
.we-do-img-text h3{
    margin:0 0 20px 0;
    padding:0px;
}

.white-box {
    position:absolute;
    box-sizing:border-box;
    width:100%;
    height:100%;
/*    backgrond-color:white;*/
    overflow: hidden;
    z-index:2;
/*    border: 10px solid white;*/
    margin:inherit;
    padding:0;
}

.white-box:hover{
    border:30px solid white;
    transition: border linear 0.5s;
}

@media screen and (max-width:520px) {
    .intro-detail {
        box-sizing: border-box;
        height: auto;
        /*        height: 600px;*/
        flex-direction: column;
        text-align: center;
        overflow: hidden;

    }

    .phone {
        height: 300px;
        vertical-align: bottom;

    }

    .icons {
        flex-direction: column;



    }


}
